/* vision */
/* the start */
.vision {
    padding-top: 80px;
    padding-bottom: 80px;
}
.vision .container .up .one {
    font-size: 15px;
    font-weight: 600;
    color: #C5C5C5;
}
.vision .container .up .two {
    padding-top: -20px;
    font-size: 40px;
    font-weight: 700;
    color: #005D79;
    font-family: "Poppins";
}
.vision .container .up .three {
    padding-top: -20px;
    font-size: 17px;
    font-weight: 400;
    color: #6E6E6E;
}
.vision .container .down {
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    background-image: url('../../assets/fout.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.vision .container .down > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* THE END */
/* END  */