/* OUR WORK */
/* START OUR WORK */
.ourwork {
    background-color: #005D79;
}
.ourwork .container {
    padding-top: 70px;
    padding-bottom: 70px;
}
.ourwork .container .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.ourwork .container .upper > div:first-child {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
}
.ourwork .container .upper > div:last-child {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255);
    font-family: "Poppins";
}
.ourwork .container .down {
    display: grid;
    grid-template-areas: "a a a a a a b b b c c c" "d d d d e e e e f f f f";
    gap: 20px;
    margin-top: 40px;
}
@media (max-width : 1020px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a a a b b " "c c c d d d" "e e e f f f";
        gap: 20px;
        margin-top: 40px;
    } 
}
@media (max-width : 900px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a a a" "b b c c" "d d e e" "f f . .";
        gap: 20px;
        margin-top: 40px;
    } 
}
@media (max-width : 570px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f";
        gap: 20px;
        margin-top: 40px;
    } 
}
.ourwork .container .down .one {
    grid-area: a;
}
.ourwork .container .down .two {
    grid-area: b;
}
.ourwork .container .down .three {
    grid-area: c;
}
.ourwork .container .down .four {
    grid-area: d;
}
.ourwork .container .down .five {
    grid-area: e;
}
.ourwork .container .down .six {
    grid-area: f;
}
.ourwork .container .down > div {
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.ourwork .container .down > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourwork .container .down > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    right: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 4%, rgba(0,0,0,0.5048144257703081) 83%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    align-items: start;
    padding: 35px;
    opacity: 0;
    transition: 0.3s ease-in all;
}
.ourwork .container .down > div > div > div {
    width: 100%;
}
.ourwork .container .down > div > div > .tit {
    font-size: 27px;
    font-weight: 600;
    font-family: "Poppins";
    color: #fff;
}
.ourwork .container .down > div > div > .desc {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.ourwork .container .down > div:hover > div {
    opacity: 1;
}

.ourwork .container .downer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.ourwork .container .downer > span span:first-child{
    display: inline-block;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    font-size: 15px;
}
.ourwork .container .downer > span span:last-child{
    display: inline-block;
    margin-left: 5px;
    color: #00BDFF;
    font-weight: 600;
    font-size: 15px;
    cursor:no-drop;
}
/* THE END */